
html {
  font-size: 14px;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
    /* Margin bottom by footer height */
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    margin-bottom: 60px;
}