@{
    ViewData["Title"] = "Home Page";
}

<div class="btn-group-sm border-dark">
    <button type="button" class="btn btn-light" id="rect" onclick="rect()">
        <img src="~/images/rect.svg" width="40" />
    </button>
    <button type="button" class="btn btn-light" id="arrow" onclick="arrow()">
        <img src="~/images/arrow.svg" width="40" />
    </button>
    <button type="button" class="btn btn-light" id="circle" onclick="circle()">
        <img src="~/images/circle.svg" width="40" />
    </button>
    <button type="button" class="btn btn-light" id="circle" onclick="tranform()">
        transform
    </button>
</div>


<div id="rectsize"></div>
<canvas id="canvas" height="1000" width="1700">You</canvas>

<script src="https://unpkg.com/konva@8/konva.min.js"></script>